@import url('https://fonts.googleapis.com/css2?family=Prociono&display=swap');

html {
  background: #d8d0b9;
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.4em;
  font-family: "Prociono", serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 1em;
  color: #4d442a;
  text-align: center;
}

p { text-align: justify;  }

p, ul, ol {
  margin-bottom: 1em;
  color: #6b5f3b;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  border: thin solid black;
}

blockquote {
  font-style: italic;
  background: #c8bc9a;
  border: thin solid black;
  padding: 1rem;
}

blockquote p { margin: 0; }

pre {
  overflow-x: auto;
  padding: 1rem;
  border: thin solid black;
}

code { border: thin solid black; }

pre, code {
  color: black;
  font-family: monospace;
  background: #c8bc9a;
}

pre code { border: none; }

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

th {
  background: #b7a87c;
  color: #4d442a;
}

td {
  background: #c8bc9a;
  color: #6b5f3b;
}

hr { border: 1px solid #6b5f3b; }

footer p {
  text-align: center;
  font-size: .8em;
}

a, a:visited { color: #6b5f3b; }

a:hover { color: #8a7a4c; }

.post-meta {
  text-align: center;
  font-weight: bold;
}

.table-wrapper { overflow-x: auto; }
