---
layout: base.njk
---

<header>
  <h1>{{ homepage.title }}</h1>
  <hr/>
  {% set subtitle = homepage.subtitle %}
  {% if subtitle %}<p id="subtitle">{{ subtitle }}</p>{% endif %}
  <hr/>
</header>
<main>
  <pre>$ less index.md</pre>
  <p><b>Hello, my name is Eden.</b> Welcome to my professional journal and portfolio. I am a technical writer in North Carolina with experience in GNU/Linux, AsciiDoc, DITA, Markdown, documentation as code, and modular documentation practices.</p>
  <p>Here you will find articles regarding technical writing, digital privacy, and digital accessibility.</p>

<!-- Begin menu -->
{% set entries = homepage.menu %}
{% include "menu.njk" %}
<!-- End menu -->

<pre>$ shutdown -h now</pre>
</main>
<footer>
  <hr/>
  <p>This site was built with <a href="https://www.11ty.dev/">Eleventy</a> based on the <a href="https://github.com/stopnoanime/11ty-no-style-please">11ty-no-style-please</a> template by Michał Birecki. Personal modifications were made by Eden Owen.</p>
  <p>Content on this site is licensed with a <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal license</a>.</p>
</footer>
