---
layout: base.njk
---
<header>
  <h1>{{ homepage.title }}</h1>
  {% set subtitle = homepage.subtitle %}
  {% if subtitle %}
    <h2>{{ subtitle }}</h2>
  {% endif %}
  <hr/>
</header>
<main>
  {% set entries = homepage.menu %}
  {% include "menu.njk" %}
</main>
<footer>
  <hr/>
  <p>This site was built with <a href="https://www.11ty.dev/">Eleventy</a> based on the <a href="https://github.com/stopnoanime/11ty-no-style-please">11ty-no-style-please</a> template by Michał Birecki. Personal modifications were made by Eden Owen.</p>
  <p>Content on this site is licensed with a <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal license</a>.</p>
</footer>
