---
layout: base.njk
---
<article>
  <h1>{{ title }}</h1>
  <hr/>

<pre>$ less posts/{{ page.fileSlug }}.md</pre>

<!-- Begin content -->  
{{ content | safe  }}
<!-- End content -->

<pre>$ exit</pre>

</article>

<footer>
  <hr/>
  <p><a href="/">Home.</a></p>
</footer>
